---
import Layout from '~/layouts/PageLayout.astro';

import LandingHero from '~/components/widgets/LandingHero.astro';
import Content from '~/components/widgets/Content.astro';
// import Hero2 from '~/components/widgets/Hero.astro';
// import Button from '~/components/ui/Button.astro';
// import Features3 from '~/components/widgets/Features3.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Pledge from '~/components/widgets/Contact.astro';

const metadata = {
  title: 'Break Up With Your Bank',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <LandingHero
    title="Break Up With Your Bank"
    description="Your bank is funding war."
    actions="Take Action Now"
    image={{
      src: '~/assets/images/hero.png',
      alt: 'Breakup With Banks',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="Why Banks Are Bad"
    subtitle="Scotiabank, BMO, Manulife, and RBC all  financially support the illegal Israeli settlements in Occupied Palestinian Territory via shares in Israeli banks."
    items={[
      {
        title: 'Built on top of Astro 4.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
        callToAction: { href: '#', text: 'Learn More' },
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
        callToAction: { href: '#', text: 'Learn More' },
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
        callToAction: { href: '#', text: 'Learn More' },
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
        callToAction: { href: '#', text: 'Learn More' },
      },
    ]}
    image={{
      src: '~/assets/images/break-up-with-your-bank-gaza.svg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-red dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Benefits of Credit Unions"
    classes={{ title: 'text-left text-white', headline: 'mb-4' }}
    subtitle="Credit unions and caisse populaires (Quebec) are member-owned, cooperative financial institutions."
    tagline=""
    items={[
      {
        title: 'More Transparency',
        description:
          'Credit union due to their structure have an obligation to include, educate, and be open and transparent with its members. After all, you as a credit union member are the physical owner and investor in the institution',
      },
      {
        title: 'Beyond Profits',
        description:
          'Some credit unions return profits to members as dividends, reduced fees, higher savings rates, or lower loan rates. Profits are also frequently donated or invested into local community initiatives.',
      },
      {
        title: 'Member Ownership',
        description:
          'At credit unions, you’re a member/shareholder, not just a customer. This means you get a say in how the institution is run, including an equal vote (regardless of your account or investment sizes) to elect the board of directors.',
      },
    ]}
  >
    <Fragment slot="action">
      <div class="mt-8 text-right">
        <a href="#" class="cursor-pointer hover:text-primary underline mb-6 mt-8">Learn more about credit unions</a>
      </div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-grey font-white dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Pledge
    id="pledge"
    isDark
    title="Take the Challenge"
    classes={{ container: 'text-left md:text-center m-auto  ', title: 'my-auto text-3xl' }}
    subtitle="This is a long journey and we are here to help. Sign up as a commitment to make the switch, and we will help you along the way with a few emails providing more information."
    button="Make the Switch"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
      {
        label: 'Province',
        name: 'province',
        type: 'select',
        options: [
          { value: 'AB', label: 'Alberta' },
          { value: 'BC', label: 'British Columbia' },
          { value: 'MB', label: 'Manitoba' },
          { value: 'NB', label: 'New Brunswick' },
          { value: 'NL', label: 'Newfoundland and Labrador' },
          { value: 'NT', label: 'Northwest Territories' },
          { value: 'NS', label: 'Nova Scotia' },
          { value: 'NU', label: 'Nunavut' },
          { value: 'ON', label: 'Ontario' },
          { value: 'PE', label: 'Prince Edward Island' },
          { value: 'QC', label: 'Quebec' },
          { value: 'SK', label: 'Saskatchewan' },
          { value: 'YT', label: 'Yukon' },
          { value: 'other', label: 'Other' },
        ],
      },
      {
        label: 'Which bank are you breaking up with?',
        name: 'bank',
        type: 'select',
        options: [
          { value: 'scotiabank', label: 'Scotiabank (Tangerine)' },
          { value: 'bmo_hsbc', label: 'BMO/HSBC' },
          { value: 'cibc_simplii', label: 'CIBC (Simplii)' },
          { value: 'td_canada_trust', label: 'TD Canada Trust' },
          { value: 'rbc', label: 'RBC' },
          { value: 'other', label: 'Other' },
        ],
      },
    ]}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#302F2F] font-white dark:bg-transparent"></div>
    </Fragment>
  </Pledge>

  <Steps
    title="What happens next?"
    classes={{ container: 'md:pt-10 lg:pt-10 lg:px-10 bg-white md:pb-0 lg:pb-0', title: 'text-left md:text-center' }}
    subtitle="Switching from a bank account to a credit union is easier than you think. Follow these simple steps to make the switch and start enjoying the benefits of a credit union."
    items={[
      {
        title: 'Find a Credit Union',
        description:
          'Research and find a credit union that suits your needs. Look for credit unions that offer competitive interest rates, low fees, and convenient branch locations.',
      },
      {
        title: 'Open an Account',
        description:
          'Once you have chosen a credit union, visit their website or branch to open an account. Fill out the necessary forms and provide any required documentation, such as identification.',
      },
      {
        title: 'Transfer Funds',
        description:
          'To transfer your funds from your bank account to your new credit union account, you can use online banking or visit your bank in person.',
      },
      {
        title: 'Move Auto Payments',
        description:
          'Once you have successfully transferred all your funds and updated your payment details, visit your bank in person or follow their online instructions to close your account.',
      },
    ]}
  />
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why should I switch from a bank to a credit union?',
        description:
          'There are several reasons why switching from a bank to a credit union can be beneficial. Credit unions are member-owned, not-for-profit financial institutions that prioritize the needs of their members. They often offer lower fees, higher interest rates on savings accounts, and lower interest rates on loans. Additionally, credit unions are known for their personalized service and community-focused approach.',
      },
      {
        title: 'How do I switch from a bank to a credit union?',
        description:
          'Switching from a bank to a credit union is a relatively simple process. First, research and find a credit union that suits your needs. Then, open an account with the credit union and transfer your funds from your bank account to your new credit union account. You may also need to update any automatic payments or direct deposits to your new account. Finally, close your bank account once all your transactions have been successfully transferred.',
      },
      {
        title: 'Will I still have access to ATMs if I switch to a credit union?',
        description:
          "Yes, most credit unions are part of a network that allows their members to access a large number of ATMs nationwide. Additionally, many credit unions reimburse a certain amount of ATM fees incurred by their members each month. It's always a good idea to check with the credit union you are considering to see what ATM options and fee reimbursements they offer.",
      },
      {
        title: 'Are credit unions insured?',
        description:
          'Yes, most credit unions are insured by the National Credit Union Administration (NCUA), which is a federal agency. The NCUA provides insurance coverage of up to $250,000 per depositor, similar to the Federal Deposit Insurance Corporation (FDIC) coverage provided to banks. This means that your deposits in a credit union are protected and safe.',
      },
      {
        title: 'What if I have a loan or a mortage with my bank?',
        description:
          'If you have a loan or mortgage with your bank and you decide to switch to a credit union, you will need to transfer that loan or mortgage to the credit union. Credit unions often offer competitive rates on loans and mortgages, so it may be beneficial to explore this option. Contact your credit union of choice to discuss the process of transferring your loan or mortgage.',
      },
    ]}
  />
</Layout>
