---
import Layout from '~/layouts/PageLayout.astro';

import LandingHero from '~/components/widgets/LandingHero.astro';
import Content from '~/components/widgets/Content.astro';
// import Hero2 from '~/components/widgets/Hero.astro';
// import Button from '~/components/ui/Button.astro';
// import Features3 from '~/components/widgets/Features3.astro';
import Accordions from '~/components/widgets/Accordions.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Pledge from '~/components/widgets/Contact.astro';
import ImageBlock from '~/components/widgets/ImageBlock.astro';
import faqContent from '~/faqs.js';

const metadata = {
  title: 'Break Up With Your Bank',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <LandingHero
    title="Break Up With Your Bank"
    description="Your bank is funding war."
    body="Canadian big banks invest heavily in weapons, military surveillance, and fossil fuel industries- fueling war, occupation, and climate disasters around the world. <br/><br/> All with <strong>YOUR</strong> money. <br/><br/> But you can do something about it."
    actions="Switch Now"
  />

  <Content
    isReversed
    title="Why Ditch Your Bank?"
    items={[
      {
        title: 'Investing in War',
        description:
          'The Big Five Canadian banks—RBC, TD, BMO, CIBC, and Scotiabank—have invested over $14 billion in the top 40 global weapons manufacturers, including Elbit Systems, Lockheed Martin, and Raytheon, with billions more through loans and underwriting.',
        callToAction: {
          href: 'https://pbicanada.org/2024/04/07/canadian-banks-continue-to-hold-shares-in-weapons-companies-profiting-from-the-attack-on-gaza/',
          text: 'Scotiabank alone invests $500M in Israeli arms firm →',
        },
      },
      {
        title: 'Fuelling Climate Disaster',
        description:
          'The Big Five Canadian banks have pumped over $900 billion into fossil fuels from 2016 to 2023 alone. These banks are more committed to fossil fuel profits than human survival.',
        callToAction: {
          href: 'https://www.greenpeace.org/canada/en/story/52648/canadas-big-five-banks-increased-support-for-fossil-fuels-by-70-in-2021/',
          text: 'Canadian big 5 are among the top 20 fossil fuel financiers in the world →',
        },
      },
      {
        title: 'Financing Occupation',
        description:
          'Canadian banks invest in over 112 companies listed by the UN as being complicit in Israel’s occupation.',
        callToAction: {
          href: 'https://www.banktrack.org/project/illegal_israeli_settlements',
          text: "Canadian banks part of Bank Track's Illegal Israeli Settlements financiers →",
        },
      },
      {
        title: 'Attacking Indigenous Communities',
        description:
          'Banks continuously fund projects that violate Indigenous peoples’ rights at places like Standing Rock, Wet’suwet’en Yintah, and along the Transmountain Expansion.',
        callToAction: {
          href: 'https://www.aljazeera.com/news/2023/4/13/canadian-bank-named-worlds-largest-fossil-fuel-financier',
          text: 'RBC is the primary financier of pipelines without consent from Indigenous leaders →',
        },
      },
    ]}
    image={{
      src: '~/assets/images/atm-break-up-with-your-bank.png',
      alt: '',
    }}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-red dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Join a Credit Union"
    classes={{ title: 'text-left text-white', headline: 'mb-4 text-center' }}
    subtitle="Credit unions are member-owned, cooperative financial institutions. This means they’re owned and controlled by the people who use them."
    items={[
      {
        title: 'Member Owned',
        description:
          'At credit unions, you’re a member/shareholder, not just a customer. This means you get a say in how the institution is run, which makes credit unions a more ethical alternative.',
      },
      {
        title: 'Community Minded',
        description:
          'Many credit unions return profits to members as dividends, reduced fees, higher savings rates, or lower loan rates. Profits are also frequently donated or invested into local community initiatives.',
      },
      {
        title: 'Comparable Services',
        description:
          'Credit unions offer the same products and services as big banks! Your money is protected and government-insured, just like at a bank.',
      },
    ]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-grey font-white dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Accordions
    title="Find a Credit Union Near You"
    subtitle="These are just a few of the larger credit unions in each province. All the CUs on this list offer in-person branches, ATM networks, mobile banking, e-transfers, and US dollar accounts."
    items={[
      {
        title: 'Alberta',
        banks: [
          { name: 'Servus Credit Union', url: '', desc: '' },
          { name: 'Connect First Credit Union', url: '', desc: '' },
          { name: 'Vision Credit Union', url: '', desc: '' },
        ],
      },
      {
        title: 'British Columbia',
        banks: [
          { name: 'Vancity Credit Union', url: '', desc: '' },
          { name: 'Coast Capital Savings*', url: '', desc: '' },
          { name: 'Blueshore', url: '', desc: '' },
        ],
      },
      {
        title: 'Manitoba',
        banks: [
          { name: 'Assiniboine Credit Union*', url: '', desc: '' },
          { name: 'Me-Dian Credit Union', url: '', desc: '' },
          { name: 'Access Credit Union', url: '', desc: '' },
        ],
      },
      {
        title: 'Ontario',
        description: '',
        banks: [
          {
            name: 'Alterna Savings Credit Union',
            url: 'https://www.alterna.ca/en/personal',
            desc: '',
          },
          {
            name: 'DUCA Credit Union*',
            url: 'https://www.duca.com/',
            desc: '',
          },
          {
            name: 'Meridian Credit Union',
            url: 'https://www.meridiancu.ca/personal',
            desc: '',
          },
          {
            name: 'Kindred Credit Union*',
            url: 'https://www.kindredcu.com/',
            desc: '',
          },
        ],
      },
      {
        title: 'Quebec',
        banks: [
          { name: 'Desjardins', url: '', desc: '' },
          { name: 'Caisse D’Economie Solidaire Desjardins', url: '', desc: '' },
          { name: 'Laurentian', url: '', desc: '' },
        ],
      },
      {
        title: 'Saskatchewan',
        banks: [
          { name: 'Conexus Credit Union', url: '', desc: '' },
          { name: 'Affinity Credit Union', url: '', desc: '' },
          { name: 'Innovation Credit Union', url: '', desc: '' },
        ],
      },
      {
        title: 'New Brunswick, Nova Scotia, Newfoundland, Prince Edward Island',
        banks: [
          { name: 'Brunswick Credit Union (NB)', url: '', desc: '' },
          { name: 'East Coast Credit Union (NS)*', url: '', desc: '' },
          { name: 'Newfoundland Credit Union', url: '', desc: '' },
        ],
      },
      {
        title: 'National',
        description: '*USD accounts not available for all National institutions',
        banks: [
          { name: 'Outlook Financial', url: '', desc: 'The only Indigenous-led CU in Canada, and they provide an excellent interest rate!' },
          { name: 'Alterna Bank', url: '', desc: 'Owned by Alterna Savings. Online only' },
          { name: 'Motusbank', url: '', desc: 'Owned by Meridian CU. Online only' },
          { name: 'Laurentian Bank', url: '', desc: 'In-person branches in Quebec only' },
        ],
      }
    ]}
  />

  <Steps
    title="What happens next?"
    classes={{ container: 'md:pt-10 lg:pt-10 lg:px-10 md:pb-0 lg:pb-0', title: 'text-left md:text-center' }}
    subtitle="Your bank uses the money in your <em>chequing</em> and <em>savings</em> accounts to loan out to clients at a rate of $19x. This means that for every dollar you deposit, the bank can loan $19 to corporations that invest in war and environmental destruction (based on the Canada reserve ratio). The good news is that switching your chequing and savings accounts from a bank to a credit union is easier than you think!"
    items={[
      {
        title: 'Choose a Credit Union',
        description:
          'Look into some different credit unions in your area to find one that best suits your needs. Look for competitive interest rates, low fees, and convenient branch locations.',
      },
      {
        title: 'Open an Account',
        description:
          'Go to your new credit union’s website or visit an in-person branch to open an account. Fill out the necessary forms and provide any required documentation, such as personal ID.',
      },
      {
        title: 'Set up Mobile Banking and Transfer Funds',
        description:
          'Go online or download a mobile app to set up your online banking account. You can transfer your funds from your bank account to your new credit union account online, or by visiting your branch.',
      },
      {
        title: 'Redirect Payments',
        description:
          'Make a list of all your recurring payments and deposits, and redirect them from your bank account to your new credit union account.',
      },
    ]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-grey font-white dark:bg-transparent"></div>
    </Fragment>
  </Steps>

  <Pledge
    id="pledge"
    isDark
    title="Join the Challenge"
    classes={{ container: 'text-left md:text-center m-auto  ', title: 'my-auto text-3xl' }}
    button="Make the Switch"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}>
    <Fragment slot="body" class="mt-2 text-muted md:max-w-3xl">
      <div class="mx-auto text-white md:max-w-3xl">
        <p>
          We know that dealing with your finances can be overwhelming. We’re here to help! Over the next 10 weeks, we
          will guide you through a step-by-step process to help you break up with your bank and start a new relationship
          with your credit union! From choosing a credit union, to switching your chequing and savings
          accounts, we’ve got you covered.</p>
      </div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#302F2F] font-white dark:bg-transparent"></div>
    </Fragment>
  </Pledge>

  <ImageBlock
    image={{
      src: '~/assets/images/imageblock.jpg',
      alt: 'Break Up With Your Bank',
    }}
  />

  <FAQs title="FAQs" classes={{ container: 'max-w-6xl' }} items={faqContent} />
</Layout>
