---
import Layout from '~/layouts/PageLayout.astro';

import LandingHero from '~/components/widgets/LandingHero.astro';
import Content from '~/components/widgets/Content.astro';
// import Hero2 from '~/components/widgets/Hero.astro';
// import Button from '~/components/ui/Button.astro';
// import Features3 from '~/components/widgets/Features3.astro';
import Accordions from '~/components/widgets/Accordions.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Pledge from '~/components/widgets/Contact.astro';
import ImageBlock from '~/components/widgets/ImageBlock.astro';

const metadata = {
  title: 'Break Up With Your Bank',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <LandingHero
    title="Break Up With Your Bank"
    description="Your bank is funding war."
    body="Canadian big banks invest heavily in weapons, military surveillance, and fossil fuel industries- fueling war, occupation, and climate disasters around the world. <br/><br/> All with <strong>YOUR</strong> money. But you can do something about it."
    actions="Switch Now"
    image={{
      src: '~/assets/images/hero.png',
      alt: 'Breakup With Banks',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="Why Ditch Your Bank?"
    items={[
      {
        title: 'Investing in War',
        description:
          'Banks invest billions of dollars in nuclear weaponry, and fund companies like Elbit Systems, which supplies the bombs that are currently being used to kill children in Gaza',
        callToAction: { href: '#', text: 'Scotiabank alone invests $500M in Israeli arms firm →' },
      },
      {
        title: 'Fuelling Climate Disaster',
        description:
          'The big 5 Canadian banks are 5 of the 6 largest global financiers of tar sands. RBC alone is the largest financier of fossil fuels worldwide.',
        callToAction: { href: '#', text: 'Canadian big 5 are among the top 20 fossil fuel financiers in the world →' },
      },
      {
        title: 'Financing Occupation',
        description:
          'Canadian banks invest in over 112 companies listed by the UN as being complicit in Israel’s occupation.',
        callToAction: { href: '#', text: 'Canadian banks part of Bank Track\'s Illegal Israeli Settlemen financiers →' },
      },
      {
        title: 'Attacking Indigenous Communities',
        description:
          'Banks continuously fund projects that violate Indigenous peoples’ rights at places like Standing Rock, Wet’suwet’en Yintah, and along the Transmountain Expansion.',
        callToAction: { href: '#', text: 'RBC is the primary financier of pipelines without consent from indigenous leaders →' },
      },
    ]}
    image={{
      src: '~/assets/images/break-up-with-your-bank-gaza.svg',
      alt: '',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-red dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Join a Credit Union!"
    classes={{ title: 'text-left text-white', headline: 'mb-4' }}
    subtitle="Credit unions are member-owned, cooperative financial institutions. This means they’re owned and controlled by the people who use them."
    items={[
      {
        title: 'Community Minded',
        description:
          ' Some credit unions return profits to members as dividends, reduced fees, higher savings rates, or lower loan rates. Profits are also frequently donated or invested into local community initiatives.',
      },
      {
        title: 'Member Owned',
        description:
          'At credit unions, you’re a member/shareholder, not just a customer. This means you get a say in how the institution is run, which makes credit unions a more ethical alternative.',
      },
      {
        title: 'Comparable Services',
        description:
          'Credit unions offer many of the same products and services as big banks! Your money is protected and government-insured, just like at a bank.',
      },
    ]}
  >
    <Fragment slot="action">
      <div class="mt-8 text-right">
        <a href="#" class="cursor-pointer  text-sm text-green hover:text-darkGreen underline mb-6 mt-8">Learn more about credit unions</a>
      </div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-grey font-white dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Accordions
    title="Find a Credit Union Near You!"
    subtitle="These are just a few of the larger credit unions in each province. All the CUs on this list offer in-person branches, ATM networks, credit cards, mobile banking, e-transfers, and US dollar accounts."
    items={[
      {
        title: 'Alberta',
        banks: [
          { name: 'Servus Credit Union', url: '', desc: '' },
          { name: 'Connect First Credit Union', url: '', desc: '' },
          { name: 'Vision Credit Union', url: '', desc: '' },
        ],
      },
      {
        title: 'British Columbia',
        banks: [
          { name: 'Vancity Credit Union', url: '', desc: '' },
          { name: 'Coast Capital', url: '', desc: '' },
          { name: 'Blueshore', url: '', desc: '' },
        ],
      },
      {
        title: 'Manitoba',
        banks: [
          { name: 'Assiniboine', url: '', desc: '' },
          { name: 'Me-Dian Credit Union', url: '', desc: '' },
          { name: 'Access Credit Union', url: '', desc: '' },
        ],
      },
      {
        title: 'Ontario',
        description: '',
        banks: [
          {
            name: 'Alterna Savings Credit Union',
            url: 'https://www.alterna.ca/en/personal',
            desc: '',
          },
          {
            name: 'Duca Financial',
            url: 'https://www.duca.com/',
            desc: '',
          },
          {
            name: 'Meridian Credit Union',
            url: 'https://www.meridiancu.ca/personal',
            desc: '',
          },
          {
            name: 'Kindred Credit Union',
            url: 'https://www.kindredcu.com/',
            desc: '',
          },
        ],
      },
      {
        title: 'Quebec',
        banks: [
          { name: 'Desjardins', url: '', desc: '' },
          { name: 'Caisse D’Economie Solidaire Desjardins', url: '', desc: '' },
          { name: 'Laurentian', url: '', desc: '' },
        ],
      },
      {
        title: 'Saskatchewan',
        banks: [
          { name: 'Conexus Credit Union', url: '', desc: '' },
          { name: 'Affinity Credit Union', url: '', desc: '' },
          { name: 'Innovation Credit Union', url: '', desc: '' },
        ],
      },
      {
        title: 'New Brunswick, Nova Scotia, Newfoundland, Prince Edward Island',
        banks: [
          { name: 'Brunswick Credit Union (NB)', url: '', desc: '' },
          { name: 'East Coast Credit Union (NS)', url: '', desc: '' },
          { name: 'Newfoundland Credit Union', url: '', desc: '' },
        ],
      },
    ]}
  />

  <Steps
    title="What happens next?"
    classes={{ container: 'md:pt-10 lg:pt-10 lg:px-10 md:pb-0 lg:pb-0', title: 'text-left md:text-center' }}
    subtitle="Switching from a bank account to a credit union is easier than you think. Follow these simple steps to make the switch and start enjoying the benefits of a credit union."
    items={[
      {
        title: 'Choose a Credit Union',
        description:
          'Look into some different credit unions in your area to find one that best suits your needs. Look for competitive interest rates, low fees, and convenient branch locations.',
      },
      {
        title: 'Open an Account',
        description:
          'Go to your new credit union’s website or visit an in-person branch to open an account. Fill out the necessary forms and provide any required documentation, such as personal ID.',
      },
      {
        title: 'Set up Mobile Banking and Transfer Funds',
        description:
          'Go online or download a mobile app to set up your online banking account. You can transfer your funds from your bank account to your new credit union account online, or by visiting your branch.',
      },
      {
        title: 'Redirect Payments',
        description:
          'Make a list of all your recurring payments and deposits, and redirect them from your bank account to your new credit union account.',
      },
    ]}>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-grey font-white dark:bg-transparent"></div>
  </Fragment>
</Steps>


  <Pledge
    id="pledge"
    isDark
    title="Join the Challenge"
    classes={{ container: 'text-left md:text-center m-auto  ', title: 'my-auto text-3xl' }}
    button="Make the Switch"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
  >
    <Fragment slot="body" class="mt-2 text-muted md:max-w-3xl">
      <div class="mx-auto text-white md:max-w-3xl">
        <p>Switching from a bank account to a credit union is easier than you think. Follow these simple steps to make the switch and start enjoying the benefits of a credit union.</p>
        <p class="mt-4">
          We know that dealing with your finances can be overwhelming. We’re here to help! Over the next 90 days, we will
          guide you through a step-by-step process to help you break up with your bank and start a new relationship with
          your credit union! From choosing a credit union, to switching your chequing, savings and credit card accounts,
          we’ve got you covered. Sign up for the challenge today!
        </p>
      </div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#302F2F] font-white dark:bg-transparent"></div>
    </Fragment>
  </Pledge>

  <ImageBlock image={{
    src: '~/assets/images/imageblock.jpg',
    alt: 'Break Up With Your Bank',
    }}/>

  <FAQs
    title="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why should I switch from a bank to a credit union?',
        description:
          'There are several reasons why switching from a bank to a credit union can be beneficial. Credit unions are member-owned, not-for-profit financial institutions that prioritize the needs of their members. They often offer lower fees, higher interest rates on savings accounts, and lower interest rates on loans. Additionally, credit unions are known for their personalized service and community-focused approach.',
      },
      {
        title: 'How do I switch from a bank to a credit union?',
        description:
          'Switching from a bank to a credit union is a relatively simple process. First, research and find a credit union that suits your needs. Then, open an account with the credit union and transfer your funds from your bank account to your new credit union account. You may also need to update any automatic payments or direct deposits to your new account. Finally, close your bank account once all your transactions have been successfully transferred.',
      },
      {
        title: 'Will I still have access to ATMs if I switch to a credit union?',
        description:
          "Yes, most credit unions are part of a network that allows their members to access a large number of ATMs nationwide. Additionally, many credit unions reimburse a certain amount of ATM fees incurred by their members each month. It's always a good idea to check with the credit union you are considering to see what ATM options and fee reimbursements they offer.",
      },
      {
        title: 'Are credit unions insured?',
        description:
          'Yes, most credit unions are insured by the National Credit Union Administration (NCUA), which is a federal agency. The NCUA provides insurance coverage of up to $250,000 per depositor, similar to the Federal Deposit Insurance Corporation (FDIC) coverage provided to banks. This means that your deposits in a credit union are protected and safe.',
      },
      {
        title: 'What if I have a loan or a mortage with my bank?',
        description:
          'If you have a loan or mortgage with your bank and you decide to switch to a credit union, you will need to transfer that loan or mortgage to the credit union. Credit unions often offer competitive rates on loans and mortgages, so it may be beneficial to explore this option. Contact your credit union of choice to discuss the process of transferring your loan or mortgage.',
      },
    ]}
  />
</Layout>
