---
import type { Form as Props } from '~/types';
import Button from '~/components/ui/Button.astro';
import FormBody from './FormBody.jsx';

const { inputs, disclaimer, button = 'Contact us', description = '' } = Astro.props;
---

<form>
  <FormBody inputs={inputs} disclaimer={disclaimer} client:visible />

  {
    button && (
      <div class="mt-10 grid">
        <Button variant="primary" type="submit">
          {button}
        </Button>
      </div>
    )
  }

  {
    description && (
      <div class="mt-3 text-center">
        <p class="text-sm text-gray-600 dark:text-gray-400">{description}</p>
      </div>
    )
  }
</form>
